@using CodeStudy_3._1.Model;
@* 强类型视图引入空间 *@
@* @model CodeStudy_3._1.Model.Student *@
@*ViewModel传值*@
@model CodeStudy_3._1.ViewModel.HomeDetailsViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detailsview</title>
</head>
<body>

    @*ViewModel传值*@
    <h3>@Model.PageTiles</h3>
    <div>姓名：@Model.student.Name</div>
    <div>班级：@Model.student.Calssroom</div>
    <div>专业：@Model.student.Major</div>
    <div>邮箱：@Model.student.Email</div>

    @*强类型视图传值*@
    @* <h3>@ViewBag.PageTitle</h3>
    <div>姓名：@Model.Name</div>
    <div>班级：@Model.Calssroom</div>
    <div>专业：@Model.Major</div>
    <div>邮箱：@Model.Email</div>  *@

    @*ViewBag传值*@
    @* <h3>@ViewBag.PageTitle</h3>
    <div>姓名：@ViewBag.student.Name</div>
    <div>班级：@ViewBag.student.Calssroom</div>
    <div>专业：@ViewBag.student.Major</div>
    <div>邮箱：@ViewBag.student.Email</div>  *@

    @*ViewData传值*@
    @* <h3>@ViewData["PageTile"]</h3>
    @{
        var student = ViewData["Student"] as Student;
    }
    <div>姓名：@student.Name</div>
    <div>班级：@student.Calssroom</div>
    <div>专业：@student.Major</div>
    <div>邮箱：@student.Email</div> *@
</body>
</html>
